design/catalog_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://globalbooks.com/catalog"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://globalbooks.com/catalog">

  <types>
    <xsd:schema targetNamespace="http://globalbooks.com/catalog" elementFormDefault="qualified">
      <xsd:complexType name="Book">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int"/>
          <xsd:element name="title" type="xsd:string"/>
          <xsd:element name="author" type="xsd:string"/>
          <xsd:element name="price" type="xsd:decimal"/>
          <xsd:element name="category" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="getBookByIdRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getBookByIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="book" type="tns:Book" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getBooksByCategoryRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="category" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getBooksByCategoryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="books" type="tns:Book" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="getBookByIdRequest">
    <part name="parameters" element="tns:getBookByIdRequest"/>
  </message>
  <message name="getBookByIdResponse">
    <part name="parameters" element="tns:getBookByIdResponse"/>
  </message>
  <message name="getBooksByCategoryRequest">
    <part name="parameters" element="tns:getBooksByCategoryRequest"/>
  </message>
  <message name="getBooksByCategoryResponse">
    <part name="parameters" element="tns:getBooksByCategoryResponse"/>
  </message>

  <portType name="CatalogPortType">
    <operation name="getBookById">
      <input message="tns:getBookByIdRequest"/>
      <output message="tns:getBookByIdResponse"/>
    </operation>
    <operation name="getBooksByCategory">
      <input message="tns:getBooksByCategoryRequest"/>
      <output message="tns:getBooksByCategoryResponse"/>
    </operation>
  </portType>

  <binding name="CatalogBinding" type="tns:CatalogPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getBookById">
      <soap:operation soapAction="getBookById"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
    <operation name="getBooksByCategory">
      <soap:operation soapAction="getBooksByCategory"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <service name="CatalogService">
    <port name="CatalogPort" binding="tns:CatalogBinding">
      <soap:address location="http://localhost:8080/catalog-soap/catalog"/>
    </port>
  </service>
</definitions>